 body
{
    background-color: #232323;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.square
{
    width: 30%;
    background-color: green;
    padding-bottom: 30%;
    border-radius: 10%;
}
.squaresEasy
{
    width: 30%;
    background-color: green;
  
    padding-bottom: 30%;

    border-radius: 10%;
}
.squaresHard
{
    width: 30%;
    background-color: green;
   
    padding-bottom: 30%;
  
    border-radius: 10%;
}
.container
{
    max-width:600px;
    margin: 0 auto;
}
h1{
    color: white;

    margin: 0;
}
span{
    color: white;
}
#menudiv
{
    background-color: white;


}
.newcolorbtn
{
 
    font-size: 1.1rem;
    color: black;
    background: white;
    border: none;
    margin: none;
    
}


.links
{
    text-decoration: none;
    padding: 10px 4px 10px 4px;
    font-size: 1.1rem;
    color: black;
    background: white;
    border: none;
    margin: none;
}
.links:hover
{
    background-color:#232323;
    color: white;
    text-decoration: none;
}
.m-footer-t
{
    margin-top: 400px;
}
.footer-font
{
    font-weight: 100;
    color:darkgray;
}
hr
{
    color: white;
}
