 body
{
    background-color: #232323;
    padding: 0;
    margin: 0;
}
.square
{
    width: 30%;
    background-color: green;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
    border-radius: 10%;
}
.container
{
    max-width:600px;
    margin: 0 auto;
}
h1{
    color: white;
}
span{
    color: white;
}
#menudiv
{
    background-color: wheat;
    text-align: center;
    padding: 20px;
}